<div id="<%= dom_id article %>">
  
  <p>
    <strong>Cuando fui:</strong>
    <%= article.when_went %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>When went:</strong>
    <%= article.when_went %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= article.country_id %>
  </p>

</div>
